In [3]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [4]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.64.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.3.5)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)

In [5]:
!pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in /usr/local/lib/python3.7/dist-packages (1.0)

In [56]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [57]:
dataset = pd.read_csv('/content/Market_Basket_Optimisation.csv', header = 0)
Data=dataset
# Data=dataset.drop("Item(s)", axis=1)
rows = len(Data.axes[0])
cols = len(Data.axes[1])
Data.columns = range(Data.shape[1])
Data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Intializing the list
transacts = []
# populating a list of transactions
for i in range(0, rows): 
  transacts.append([str(Data.values[i,j]) for j in range(0, cols)])

In [59]:
from apyori import apriori
ap = apriori(transactions = transacts, min_support = 0.2, min_length = 2, max_length = 2, use_colnames=True) # generate rules

# list of results coming from the apriori model
rslt = list(ap)

rslt

[RelationRecord(items=frozenset({'mineral water'}), support=0.23826666666666665, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'mineral water'}), confidence=0.23826666666666665, lift=1.0)]),
 RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'mineral water', 'nan'}), support=0.23826666666666665, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'mineral water', 'nan'}), confidence=0.23826666666666665, lift=1.0), OrderedStatistic(items_base=frozenset({'mineral water'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'mineral water'}), confidence=0.23826666666666665, lift=1.0)])]

In [60]:
%timeit -n 100 -r 10 ap

100 loops, best of 10: 58.7 ns per loop

In [61]:
from pyECLAT import ECLAT

# loading transactions DataFrame to ECLAT class
eclat = ECLAT(data=Data)

# DataFrame of binary values
eclat.df_bin

,NaN,pickles,chocolate,light cream,milk,cream,blueberries,chutney,chicken,hot dogs,...,mint,low fat yogurt,whole wheat pasta,fresh bread,cottage cheese,avocado,mashed potato,green tea,yams,vegetables mix
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7497,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [62]:
items_total = eclat.df_bin.astype(int).sum(axis=0)

items_total

NaN                  0
pickles             45
chocolate         1229
light cream        117
milk               972
                  ...
avocado            249
mashed potato       31
green tea          990
yams                85
vegetables mix     192
Length: 121, dtype: int64

In [63]:
# count items in each row
items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)

items_per_transaction

0       3
1       1
2       2
3       5
4       1
       ..
7495    3
7496    6
7497    1
7498    2
7499    4
Length: 7500, dtype: int64

In [64]:
df = pd.DataFrame({'items': items_total.index, 'transactions': items_total.values}) 

# cloning pandas DataFrame for visualization purpose  
df_table = df.sort_values("transactions", ascending=False)

#  Top 5 most popular products/items
df_table.head(5)

            items  transactions
43  mineral water          1787
56           eggs          1348
52      spaghetti          1306
13   french fries          1282
2       chocolate          1229

In [65]:
eclat_indices, eclat_supports = eclat.fit(min_support=0.2)

Combination 1 by 1

1it [00:00, 35.69it/s]

Combination 2 by 2

0it [00:00, ?it/s]

Combination 3 by 3

0it [00:00, ?it/s]

In [66]:
print(eclat_supports)

{'mineral water': 0.23826666666666665}

In [67]:
%timeit -n 100 -r 10 eclat_supports

100 loops, best of 10: 50.6 ns per loop

In [68]:
import pyfpgrowth

In [69]:
patterns = pyfpgrowth.find_frequent_patterns(transacts, 2)

In [70]:
%timeit -n 100 -r 10 patterns

100 loops, best of 10: 62.7 ns per loop