In [3]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [4]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.64.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.3.5)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)

In [5]:
!pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in /usr/local/lib/python3.7/dist-packages (1.0)

In [56]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [78]:
dataset = pd.read_csv('/content/Market_Basket_Optimisation.csv', header = 0)
Data=dataset.head(200)
# Data=dataset.drop("Item(s)", axis=1)
rows = len(Data.axes[0])
cols = len(Data.axes[1])
Data.columns = range(Data.shape[1])
Data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,burgers,ham,red wine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,shrimp,pasta,tomatoes,energy bar,french wine,antioxydant juice,french fries,frozen smoothie,brownies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# Intializing the list
transacts = []
# populating a list of transactions
for i in range(0, rows): 
  transacts.append([str(Data.values[i,j]) for j in range(0, cols)])

In [80]:
from apyori import apriori
ap = apriori(transactions = transacts, min_support = 0.2, min_length = 2, max_length = 2, use_colnames=True) # generate rules

# list of results coming from the apriori model
rslt = list(ap)

rslt

[RelationRecord(items=frozenset({'eggs'}), support=0.225, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'eggs'}), confidence=0.225, lift=1.0)]),
 RelationRecord(items=frozenset({'mineral water'}), support=0.24, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'mineral water'}), confidence=0.24, lift=1.0)]),
 RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'spaghetti'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'spaghetti'}), confidence=0.2, lift=1.0)]),
 RelationRecord(items=frozenset({'nan', 'eggs'}), support=0.225, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'eggs', 'nan'}), confidence=0.225, lift=1.0), OrderedStatistic(items_base=frozenset({'eggs'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'eggs'}), confidence=0.225, lift=1.0)]),
 RelationRecord(items=frozenset({'mineral water', 'nan'}), support=0.24, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'mineral water', 'nan'}), confidence=0.24, lift=1.0), OrderedStatistic(items_base=frozenset({'mineral water'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'mineral water'}), confidence=0.24, lift=1.0)]),
 RelationRecord(items=frozenset({'nan', 'spaghetti'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan', 'spaghetti'}), confidence=0.2, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'spaghetti'}), confidence=0.2, lift=1.0), OrderedStatistic(items_base=frozenset({'spaghetti'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)])]

In [81]:
%timeit -n 100 -r 10 ap

100 loops, best of 10: 55.6 ns per loop

In [82]:
from pyECLAT import ECLAT

# loading transactions DataFrame to ECLAT class
eclat = ECLAT(data=Data)

# DataFrame of binary values
eclat.df_bin

,NaN,pickles,chocolate,light cream,milk,blueberries,chutney,chicken,hot dogs,gums,...,mint,low fat yogurt,whole wheat pasta,fresh bread,cottage cheese,avocado,mashed potato,green tea,yams,vegetables mix
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [83]:
items_total = eclat.df_bin.astype(int).sum(axis=0)

items_total

NaN                0
pickles            2
chocolate         36
light cream        4
milk              29
                  ..
avocado           11
mashed potato      1
green tea         22
yams               4
vegetables mix     1
Length: 102, dtype: int64

In [84]:
# count items in each row
items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)

items_per_transaction

0      3
1      1
2      2
3      5
4      1
      ..
195    1
196    1
197    3
198    9
199    1
Length: 200, dtype: int64

In [85]:
df = pd.DataFrame({'items': items_total.index, 'transactions': items_total.values}) 

# cloning pandas DataFrame for visualization purpose  
df_table = df.sort_values("transactions", ascending=False)

#  Top 5 most popular products/items
df_table.head(5)

            items  transactions
33  mineral water            48
45           eggs            45
41      spaghetti            40
2       chocolate            36
12   french fries            33

In [86]:
eclat_indices, eclat_supports = eclat.fit(min_support=0.2)

Combination 1 by 1

3it [00:00, 60.08it/s]

Combination 2 by 2

3it [00:00, 111.97it/s]

Combination 3 by 3

1it [00:00, 96.64it/s]

In [87]:
print(eclat_supports)

{'mineral water': 0.24, 'spaghetti': 0.2, 'eggs': 0.225}

In [88]:
%timeit -n 100 -r 10 eclat_supports

100 loops, best of 10: 34.9 ns per loop

In [89]:
import pyfpgrowth

In [90]:
patterns = pyfpgrowth.find_frequent_patterns(transacts, 2)

In [91]:
%timeit -n 100 -r 10 patterns

100 loops, best of 10: 34.4 ns per loop